@import "base/normalize";
@import "base/skeleton";
@import "base/mqueries";

$desk-foot-nav: 550px;
$foot-nav: 250;
// test test
html, body {
  height: 100%;
}
.page-wrap, .nav-n-content {
  min-height: 100%;
}
.nav-n-content {
  margin-bottom: $foot-nav * -1px;
  &:after {
    content: "";
    display: block;
  }
  @include at-least(desktop) {
    margin-bottom: $desk-foot-nav;
  }
}
.progress {
  height: $foot-nav + 0px;
  @include at-least(desktop) {
    height: $desk-foot-nav;
  }
}
.progress {
  background-size: cover;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAADCAYAAABfwxXFAAAAYklEQVQIWwFXAKj/AS9sjP8SODUA/fj/ANv2+AAlEAkALxkWAPr+AAABXYuk/+EXHQDz+f4A6Pv8ACAKCAAtGBMACwMEAAE4c5P/Jzw6AM7n9ADo+PgAHw8HACsVEAAGBQUAve8d7xx/kEgAAAAASUVORK5CYII=");
}
