@import "vendor/vendor";
@import "mixins/mixins";
@import "partials/partials";
@import "pages/pages";

$desk-foot-nav: 550;
$foot-nav: 125;
* {
  box-sizing: border-box;
}
// typography
html, body {
  height: 100%;
  font-family: 'Libre Baskerville', serif;
}
h1, h2 {
  font-family: 'Montserrat', sans-serif;
}
h2 {
  @include at-least(desktop) {
    font-size: 3.25em;
  }
}

.nav-n-content {
  background-color: $bgGrey;
  z-index: 100;
  min-height: 100%;
  // negative margin to accomodate footer
  margin-bottom: $foot-nav * -1px;
  @include at-least(desktop) {
    margin-bottom: $desk-foot-nav;
  }

  &::before {
    opacity: 1;
  }
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: white;
}
main.content {
  // padding to offset neg margin of parent
  padding-bottom: $foot-nav * 1px;
  background-color: $bgGrey;
  &:after {
    content: "";
    display: block;
  }
  @include at-least(tablet-landscape) {
    padding-top: $navHeight * 1px;
  }
}


.about {
  main {
    background-color: $white;
  }
  div.inner {
    padding: 5%
  }
  h1 {
    margin-left: 13vw;
  }
}

//
// Sticky Footer
//

div.footer {
  height: $foot-nav * 1px;
  background-color: $grey;
  color: rgb(195, 195, 195);
  @include at-least(desktop) {
    height: $desk-foot-nav;
  };
  h3 {
    margin: 0;
  }
}




// $blackish: rgb(111, 15, 5);
