<nav id="navigation" class="">
  <div class="button-contain">
    <a href="#" id="js-menu-button" class="menu-icon">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <div class="nav-links">
    <ul class="main-navigation">
      {% for page in pages.children.visible %}
      {% set is_active = (page.active or page.activeChild) ? 'active' : '' %}
      <li class="item {{ is_active }}">
        <a href="{{ page.url }}">
          {{ page.menu }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
