<!--  one_col.html.twig -->
<div class="row left-three {{page.header.classes}}">
  <div class="col">
    <div class="col-contain">
      <div class="inner">
        {{ content }}
      </div>
    </div>
  </div>
</div>
