<!--  one_col.html.twig -->
<div class="row left-three">
  <div class="col">
    <div class="col-contain {{page.header.classes}}">
      <div class="inner">
        {% for section in content|split('<hr />') %}
            <div class="my-row">
              {{section}}
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
