<!--  one_col.html.twig -->
<div class="row left-three">
  <div class="col">
    <div class="col-contain {{page.header.classes}}">
      <div class="inner">
        {{ content }}
      </div>
    </div>
  </div>
</div>
