<div class="row left-two {{page.header.classes}}">
  <div class="col">
    <div class="col-contain">{{ shortcode.section.first_column }}</div>
  </div>
  <div class="col">
    <div class="col-contain">
      <div class="inner">
        {{ shortcode.section.second_column }}
      </div>
    </div>
  </div>
</div>
