{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="inner">
  {{ page.content }}
</div>
{# refernces core form template supplied by plugin #}
{% include "forms/form.html.twig" %}

{% endblock %}
