{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="after-hero">
  {{ page.content }}
  {# refernces core form template supplied by plugin #}
  <div class="">
    {% include "forms/form.html.twig" %}
  </div>
</div>

{% endblock %}
