{% extends 'partials/base.html.twig' %}

{% block hero %}
  <section class="hero">
    <div class="col hero-image"></div>
    <h1 class="separator">{{ page.header.title }}</h1>
  </section>
{% endblock %}
{% block content %}
<div class="row left-two">
  <div class="col">
    <div>left</div>
  </div>
  <div class="col">
    <div>right</div>
  </div>
</div>
<div class="row right-two">
  <div class="col">
    <div>left</div>
  </div>
  <div class="col">
    <div>right</div>
  </div>
</div>
<div class="row left-one">
  <div class="col">
    <div>left</div>
  </div>
</div>
  {{ page.content }}
{% endblock %}
