{% extends 'partials/base.html.twig' %}
{% block content %}

<div class="inner">
  {{ page.content }}
</div>
{% endblock %}
{% block footer %}
  {% include 'partials/bottom-nav.html.twig' %}
{% endblock %}
