{% extends 'partials/base.html.twig' %}
{% block content %}

<div class="inner" style="margin-top: 180px;">
  <h1>Whoops, something went wrong!</h1>
  <h2>Try returning to <a href="/">the home page</a></h2>
</div>
{% endblock %}
{% block footer %}
  {% include 'partials/bottom-nav.html.twig' %}
{% endblock %}
