{% extends 'partials/base.html.twig' %}
{% set faqs = page.header.faqs %}
{% block content %}
<div class="inner">
  {{ page.content }}
  <dl class="faqs"></ul>
    {% for faq in faqs %}
    <dt>
      {{ faq.q }}
    </dt>
    <dd>
      {{ faq.a }}
    </dd>
    {% endfor %}
  </dl>
</div>
{% endblock %}
