{% extends 'partials/base.html.twig' %}
{# TODO move base out of partials dir #}

{% block content %}
<!-- home.html.twig -->

<section class="hero">
  <div class="hero-image"></div>
  <h1>{{ page.header.title }}</h1>
</section>

<!--  TODO: loop through explicit ordering from YAML -->
{% include '/modular/module.html.twig' with {'page': page.find('/home/_elevator')} %}
{% include '/modular/module.html.twig' with {'page': page.find('/home/_how-it-works-header')} %}
<div class="row left-three">
  <div class="col">
    <div class="col-contain">
      <h2>This is a full width heading</h2>
    </div>
  </div>
</div>

{% endblock %}
