{% extends 'partials/base.html.twig' %}
{# TODO move base out of partials dir #}

{% block content %}
<!-- home.html.twig -->

<section class="hero">
  <div class="hero-image"></div>
  <h1>{{ page.header.title }}</h1>
</section>

<!--  TODO: loop through explicit ordering from YAML -->
{% include '/modular/module.html.twig' with {'page': page.find('/home/_elevator')} %}
{% include '/modular/module.html.twig' with {'page': page.find('/home/_how-it-works-header')} %}
<div class="row left-three">
  <div class="col">
    <div class="col-contain text">
      <div class="inner">
        <h3>
          Appointment scheduling is opened to your employees, Those with treatment needs schedule for the next time we’re at your location. And we handle all of the details.
        </h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}
