{% extends 'partials/base.html.twig' %}
{% block hero %}
<!-- home.html.twig -->
  <section class="hero">
    <div class="hero-image"></div>
    <h1>{{ page.header.title }}</h1>

  </section>
{% endblock %}

{% block content %}
<div>
  {% include '/modular/module.html.twig' with {'page': page.find('/home/_elevator')} %}
</div>

{% endblock %}
