{% extends 'partials/base.html.twig' %}
{% block hero %}
  <div class="row hero">
    {{ page.media['hero.jpg'].html() }}
    <div class="content">
      <h1 class="headline"><span class="introducing">{{meta.heading[0]}}</span> {{meta.heading[1]}}</h1>
    </div>
  </div>
{% endblock hero %}
{% block content %}
	<div class="the-rows">
    {% for module in page.collection() %}
      {% if not (module.name == 'form.md') %}
        {{ module.content }}
      {% endif %}
    {% endfor %}
	</div>
  <div class="row one-col contact">
    <div class="col">
      <div class="col-contain">
        <div class="inner">
          <h2>Get in Touch</h2>
          <h3>Drop us a line to find out how easy it is to bring on-site dentistry to your workplace.</h3>
          {% include '/modular/module.html.twig' with {'page': page.find('/home/_mini-contact')} %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
