{% extends 'partials/base.html.twig' %}
{# TODO move base out of partials dir #}
{% block content %}
<!-- home.html.twig -->
{% set rows = page.header.content.rows %}
{% set row = page.header.content.rows[0] %}
<!--  row 00 -->
<div class="{{row.class}}">
  <div class="hero-image" style="background-image: url({{ pages.find('/images/hero').media[row.background].url }})"></div>
  <div class="contents">
    <div class="inner bottom">
      <h1 class="headline"><span class="cormorant">{{row.heading[0]}}</span> {{row.heading[1]}}</h1>
    </div>
  </div>
</div>

<!--  row 01 -->
{% include '/modular/module.html.twig' with {'page': page.find('/home/_delivered')} %}

<!--  row 02 -->
{% include '/modular/module.html.twig' with {'page': page.find('/home/_elevator')} %}
<!--  row 03 -->
{% include '/modular/module.html.twig' with {'page': page.find('/home/_how-it-works-header')} %}
<!--  row 04 -->
{% include '/modular/module.html.twig' with {'page': page.find('/home/_apt-scheduling')} %}
<!--  row 05 -->
{% include '/modular/module.html.twig' with {'page': page.find('/home/_mobile-facility')} %}
<!--  row 06 -->
{% include '/modular/module.html.twig' with {'page': page.find('/home/_notifications')} %}
<!--  row 07 -->
{% include '/modular/module.html.twig' with {'page': page.find('/home/_site-visits')} %}
<!--  row 08 -->
{% include '/modular/module.html.twig' with {'page': page.find('/home/_full-range')} %}
<!--  row 09 -->

<div class="row one-col contact">
  <div class="col">
    <div class="col-contain">
      <div class="inner">
        <h2>Get in Touch</h2>
        <h3>Drop us a line to find out how easy it is to bring on-site dentistry to your workplace</h3>
        {% include '/modular/module.html.twig' with {'page': page.find('/home/_contact')} %}
      </div>
    </div>
  </div>
</div>


{% endblock %}
