/* General button style (reset) */
.btn {

	border: none;
	font-family: 'Montserrat', sans-serif;
  @include responsive-font(1.5vw, 17px, 50px, 18px);

  text-decoration: none;
  background: rgba(255, 255, 255, .7);
	cursor: pointer;
	padding: 9px 14px;
	display: inline-block;
	margin-bottom: 15px;
  margin-left: -2%;
	// text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  @include at-least(tablet-landscape) {
    margin-left: -4%;
    padding: 25px 80px;
  };
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-1a:hover,
.btn-1a:active {
	color: #0e83cd;
	background: rgb(255, 255, 255);
}
