div.footer {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 43px;
  @include responsive-font(3vw, 22px, 48px, 37px);

  a {
    text-decoration: none;
    // margin: 20px;
  }
  // both prev and next
  div.nav > a {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    padding: 10% 0;
    float: left;
    color: $darkBlue;
    &:active {
      color: rgb(156, 247, 255);
    }
  }

  div.nav {
    a.previous {
      background-color: rgb(213, 217, 222);
      width: calc(100%/3);
      // @include at-least(tablet-landscape) {
      //   width: calc(100%/7*2);
      // }
      span.both {
        margin-left: 6%;
      }
      span.text {
        display: none;
        @include at-least(tablet-landscape) {
          display: inline;
        };
      }
    }
    a.next {
      background-color: rgb(232, 231, 239);
      display: inline-block;
      width: calc(100%/3*2);
      // @include at-least(tablet-landscape) {
      //   width: calc(100%/7*5);
      // }
      &:only-of-type {
        float: right;
      }
      span.both {
        // position: absolute;
        // right: 0;
        float: right;
        margin-right: 6%;
      }
    }
  }
  div.footer-content {
    clear: both;
    position: relative;
    padding: 0 .6em;
    top: 1.2em;
    height: 30px;
    font-size: 14px;
    @include at-least(tablet-landscape) {
      padding: 0;
      font-size: 22px;
    };
    span.address {
      display: inline-block;
      width: 66%;
    }

    span.privacy {
      float: right;
      font-size: 14px;
      font-family: sans-serif;
    }
  }

}
