$hero-height-small: auto;
$hero-height: 60vh;

.hero {
  @extend .row;
  text-align: center;
  height: $hero-height-small;
  @include at-least(tablet-landscape) {
    height: $hero-height;
  };

  @include at-least(tablet-landscape) {
    div.contents {
      h1 {
        font-size: 7vh;
        line-height: 1.5;
      }

    }

  };
  div.contents {
    height: $hero-height-small;
    position: relative;
    @include at-least(tablet-landscape) {
      height: $hero-height;
      .inner.bottom {
        position: absolute;
        width: 100%;
        bottom: 24%;
      }
      // position: absolute;
    };
    // top: 50%;
    // transform: translateY(-50%);
    right: 0; left: 0;
    z-index: 102;
  }
  .hero-image {
    position: absolute;
    @include at-least(tablet-landscape) {
      height: $hero-height;
    };
    content: '';
    z-index: 101;
    top: 0; right: 0; left: 0; bottom: 0;
    background-size: cover;
    background-position: 50% 5%;
    opacity: .9;

    &:after {
      content: '';
      opacity: .94;
      background: linear-gradient(-6deg, $blackish, rgba(0, 0, 0, 0), $blackish);
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
    }
  }
}
