main img[src*="icon"] {
  width: 100%;
  height: auto;
}
.col-contain.text {
  background-color: rgb(238, 238, 238);
  padding: 4%;
  div.inner {
    width: 82%;
    margin: auto;
    h3 {
      margin: 0;
    }
  }
}

.elevator {
}
.how-header {
  background-color: rgb(62, 62, 62);
  h2 {
    // font-family: 'Playfair Display', serif;
    // text-transform: uppercase;
    color: rgb(238, 238, 238);
    text-align: center;
  }
}
