//
// grey out content with menu open
//
#{$menuClosed} .nav-n-content::before {
  opacity: 0;
  transition: opacity $menTran ease-in-out;
  z-index: -101;
}
#{$menuOpen} .nav-n-content{
  // fix body clicks, iOS
  cursor: pointer;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: black;
    opacity: .64;
    transition: all $menTran ease-in-out;
    z-index: 101;
  }
}

// navigation

.navigation {
  position: fixed;
  width: 82%;
  height: 100%;
  background-color: rgba(24, 27, 43, 1);
  opacity: .78;
  z-index: 102;
  font-family: 'Josefin Sans', sans-serif;
  transition: transform $menTran ease-in-out;

  //hamburger
  div.burger-tab {
    right: 0;
    top: 0;
    position: absolute;
    background-color: rgba(24, 27, 43, 1);
    opacity: .91;
    z-index: 108;

    &.percentage {
      width: 18%;
      // reasonable width for mobile landscape view
      @media #{$landscape} {
        width: 10%;
      }
      @extend .square;
    }
    a.burger-icon {
      color: white;
      @extend .centered;
      line-height: 100%;
      @include responsive-font(9vw, 25px, 50px, 50px);
    }
  }

  div.nav-items {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);

    ul {
      list-style: none;
      line-height: 3em;
      li.item {
        display: block;
        text-align: center;
        a {
          line-height: 10vh;
          text-decoration: none;
        }
        &:not(:last-child) {
          @include separator(.5em);
        }
        @include at-least(tablet-landscape) {
          &:last-child {
            @include separator(.5em);
          }
        }
      }
    }
    @extend .centered;
  }

  .nav-items a {
    text-transform: uppercase;
    color: white;
    @include responsive-font(7.6vw, 25px, 43px, 30px);
    line-height: 10vh;
  }

}

#{$menuClosed} .navigation {
  transform: translateX(-100%);

  div.burger-tab {
    transform: translateX(100%);
    transition: transform $menTran ease-in-out;
  }

}

#{$menuOpen} .navigation  {
  left: 0;

  div.burger-tab {

    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }

}

/// Desktop
@include at-least(tablet-landscape) {
  #{$menuClosed} .navigation {
    transform: none;
    width: 100%;
    height: auto;
    // left: 0;
    div.burger-tab {
      display: none;
    }
    div.nav-items {
      position: relative;
      top: 0;
      left: 0;
      margin: 0 auto;
      transform: none;
      width: 78%;
      ul {
        width: 100%;
        display: table;
        display: flex;
        justify-content: space-around;
      }
      li.item {
        display: table-cell;
        text-align: center;
        margin-bottom: 0;
        font-weight: 300;
        a {
          @include responsive-font(1.4vw, 15px, 50px, 50px);
          line-height: 1.4vw;
          text-decoration: none;
          text-transform: none;
        }
      }
    }
  }
};
