.book-now, .booking {
  @media (max-width: 600px) {
    .kn-details-group {
      // h2 { color: red; }
    }
  }

  main {
    padding-top: 85px;
    @include at-least(tablet-landscape) {
      padding-top: 175px;
    }
  }
  .inner {
    margin-top: 60px;
    position: relative;
    z-index: 101;
    iframe {
      width: 100%;
      height: 800px;
    }
  }
  #knack-dist_2, .frame-contain, .above-the-frame {
    h2.booking-nav {
      font-size: 1.5em;
    }
    .fail-alert {
      color: rgb(177, 1, 1);
    }
    @include at-least(tablet-landscape) {
      max-width: 80%;
      margin: 0 auto;
    }
  }
  .kn-map-list {
    h2 {
      font-size: 1.4em;
      em {
        font-style: normal;
      }
      a {
        text-decoration: none;
      }
    }
  }

  @include at-least(tablet-landscape) {
    #view_18 { width: auto !important; }
    p.description {
      font-size: 1.2em;
    }
  }
  @media screen and (max-width: 500px) {
    #kn-map-view_18 { width: 100% !important; }
    .kn-map-list {
      width: 100% !important;
      .kn-geo-distance {
        right: 20px;
      }
    }
    .kn-view {
      margin: 0 auto;
      form {
        select {
          height: auto;
          min-height: 26px;
        }
        .kn-map-submit {
          margin-left: auto !important;
        }
      }
    }
  }
}
