.contact {
  .hero .content {
    top: 24%;
    color: white;
  }
  main.content {
    background-color: $mediumBlue;
  }
  div.after-hero {
    padding: 0 3% 3% 3%;
  }
  form {
    label {
      display: none;
    }
    & > div {
      margin: 5px auto;
    }
  }
  input, button, textarea {
    // width: 100%;
    &::placeholder {
      color: rgb(126, 126, 126);
    }
    color: rgb(43, 48, 56);
    border-radius: 2px;
    border: none;
    height: 1.85em;
    font-size: 1.25em;
    padding-left: 6px;
    @include at-least(tablet-landscape) {
      width: 50%;
    }
  }
  textarea {
    height: auto;
  }
  button {
    background-color: $grey;
  }
}
