.contact {
  .hero .content {
    top: 24%;
    color: white;
  }

  input, button, textarea {
    // width: 100%;
    border-radius: 2px;
    border: none;
    height: 1.85em;
    font-size: 1.25em;
    padding-left: 6px;
  }
  textarea {
    height: auto;
  }
}
