//
// Useful variables
//
$blackish: rgb(31, 1, 12);
$navHeight: 95;
//
// Utility classes and mixins
//
.hidden {
  @extend %visually-hidden;

}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}

.square {
  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}
.clear-fix {
  content: "";
  display: table;
  clear: both;
}
/// Accessibly hide element
///
%visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@mixin grayscale_element($value) {
    filter:#{"grayscale(#{$value})"};
}

// white line, margin under heading
@mixin separator($space: 1em) {
  position: relative;
  margin-bottom: $space;
  padding-bottom: $space;
  text-align: center;
  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 86px;
    height: 1px;
    background-color: white;
    transform: translateX(-50%);
  }
}

/// long selectors, shorter

$menuOpen: "body[data-state-menu=open]";
$menuClosed: "body[data-state-menu=closed]";

$menTran: .43s;

// random colors
$blue: rgb(40, 183, 241);
$green: #99c712;
$yellow: lighten(#ffba00, 5%);
$red: #E53B3A;
